<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="w-50 p-5 border border-3 border-dark-subtle rounded">
<h1 class="text-center">hello</h1>
<div class="d-flex justify-content-end">
<button type="button" class="btn btn-success m-3" (click)="onSubmit()">Save</button>
</div>
<div class="d-flex justify-content-between m-3">
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle border border-1 border-dark-subtle rounded text-secondary" style="width: 27vh;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ data.vehicle || 'Vehicle' }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" *ngFor="let item of vehicles" (click)="selectVehicle(item)">{{item.name}}</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle border border-1 border-dark-subtle rounded text-secondary" style="width: 27vh;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Animals
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between ms-3 me-3 mb-3">
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle border border-1 border-dark-subtle rounded text-secondary" style="width: 27vh;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Foods
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle border border-1 border-dark-subtle rounded text-secondary" style="width: 27vh;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Brand
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between ms-3 me-3 mb-3">
  <div>
    <input type="text" class="form-control border border-1 border-dark-subtle rounded bg-light" placeholder="First name" [(ngModel)]="data.firstname">
  </div>
  <div>
    <input type="text" class="form-control border border-1 border-dark-subtle rounded bg-light" placeholder="Last name" [(ngModel)]="data.lastname">
  </div>
</div>
<div class="d-flex justify-content-between ms-3 me-3 mb-3">
 <div>
  <input type="date" class="form-control bg-light border border-1 border-dark-subtle rounded text-secondary" style="width: 27vh;" [(ngModel)]="data.startdate">
 </div>
 <div>
  <input type="date" class="form-control bg-light border border-1 border-dark-subtle rounded text-secondary" style="width: 27vh;">
 </div>
</div>
</div>
</div>